<html>
	<body>
		<head>
			<link rel="stylesheet" type="text/css" href="chat.css">
		</head>
			<div id="mobile-navhead">
				<!-- <img src="img/mobile_icon.png" /> -->
				<img id="mobile-nav-icon" src="https://larsenroofing.com/img/mobile_icon.png" />
			</div>
			<div id="mobile-nav">
				<h1>ROOMS</h1>
				<!-- <div id="rooms"></div> -->
				<div class="rooms"></div>
			</div>

			<div id="rooms-nav">
				<h1>
					ROOMS 
				</h1>
				<div class="add" id="addroom">add room</div>
				<div class="add" id="addfriend">add friend</div>
				<!-- <div id="rooms"></div> -->
				<div class="rooms"></div>
			</div>

			<div id="friends-nav">
				<h1>FRIENDS</h1>
				<br>
				<div id="friends">
				</div>
				<!-- <p> -->
				<!-- 	<span class="icon"> -->
				<!-- 		<img src="https://toppng.com/uploads/preview/phone-icon-black-11549498509acfenofjly.png"> -->
				<!-- 	</span> -->
				<!-- 	<span class="icon-info"><span>online</span><span>joe</span>&nbsp;</span> -->
				<!-- </p> -->

				<!-- <p> -->
				<!-- 	<span class="icon"> -->
				<!-- 		<img src="https://toppng.com/uploads/preview/phone-icon-black-11549498509acfenofjly.png"> -->
				<!-- 	</span> -->
				<!-- 	<span class="icon-info"><span>online</span><span>joe</span>&nbsp;</span> -->
				<!-- </p> -->
		
			</div>



		<!-- <h1 id="title">CHAT ROOM</h1> -->
		<!-- <br> -->
		<!-- <br> -->
		<!-- <br> -->
		<!-- <br> -->
		<!-- <div id="chat"> -->
		<div id="chat-nav">
			<h1 id="title">CHAT ROOM</h1>
			<div id="chat">
				<span class="br"></span>
			</div>
		</div> 
		<div id="msgbox">
			<!-- <textarea cols="30" rows="5" type="text" id="msg"></textarea> -->
			<textarea type="text" id="msg"></textarea>
		</div>


	</body>
	<script src="websockets.js"></script>
</html>
